<a href="https://colab.research.google.com/github/Megafine/megafinecon/blob/main/reg_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing Libraries

In [8]:
from pandas.core import describe
import random
import pandas as pd
import numpy as np

Dataframing the data

In [9]:
df = pd.DataFrame(np.random.randint(0,100,size=(10000, 2)), columns=list('YX'))

In [10]:
df.describe()

                  Y             X
count  10000.000000  10000.000000
mean      49.421300     50.070700
std       28.875332     28.754551
min        0.000000      0.000000
25%       24.000000     25.000000
50%       49.000000     50.000000
75%       74.250000     75.000000
max       99.000000     99.000000

Simple Regressioin Function

In [19]:
from numpy.ma.core import mean
from numpy.core.fromnumeric import std
from numpy.ma.extras import average

def reg(Y, X):
  xbar = mean(X)
  ybar = mean(Y)
  B_1 = sum((X-xbar) * (Y-ybar)) / sum((X-xbar)**2)
  B_0 = ybar-B_1*xbar
  e = Y- B_0 *Y - B_1*X
  se_b1 = std(e)/(sum(X-xbar)**2)**.05
  t_b1 = B_1/se_b1
  print(f'B_1: is {B_1:.2f} and t_b1 is {t_b1:.2f}')
  print(f'B_0: is {B_0:.2f}')
  return

In [ ]:
reg(df.Y,df.X) # Checked

Plots

In [ ]:
import numpy as np
from matplotlib import pyplot as plt

y = df[1:10].Y
x = -2*df[1:10].Y

plt.plot(x, y, '-')
plt.fill_between(x, y, 195, where=(y > 195), facecolor='g', alpha=0.6)

plt.title("X and Y")
plt.show()